extends layout/main-layout.pug

block content
  if errorMessage && errorMessage.length > 0
    .alert.alert-danger.alert-dismissible.fade-in(role="alert")
      p.error-message #{errorMessage}
  else
    script.
      window.sessionStorage.setItem('chatId', '!{chat._id}')

    .chat-page-container
      .chat-titlebar-container
        +createChatImage(chat, userLoggedIn)
        span#chat-name(data-bs-toggle="modal" data-bs-target="#chat-name-modal") This is the chat name

      .main-content-contsiner
        .loading-spinner-container
          img(src="/images/loadingSpinner.gif", alt="Loading...")
        .chat-container(style="visibility:hidden;")
          ul.chat-messages
          .footer
            textarea.input-textbox(name="messageInput", placeholder="Type a message...")
            button.send-message-button
              i.fas.fa-paper-plane

    +createChatNameModal(chat)


block scripts
  script(defer="", src="/js/chat.js", type="module")
