extends layout/main-layout.pug

block content
    +createMockForm(userLoggedIn)
    .mocksContainer

    +createMockModals(userLoggedIn)


block scripts
    script(defer="", src="/js/home.js?v=v0.1.0", type="module")
