extends layout/main-layout.pug

block content
    +createMockForm(userLoggedIn)

    .mocks-container

    +createMockModals(userLoggedIn)


block scripts
    script(defer="", src="/js/home.js", type="module")
