extends layout/main-layout.pug

block content
    script.
        window.sessionStorage.setItem('mockId', '!{mockId}')

    .mocks-container

    +createMockModals(userLoggedIn)

block scripts
    script(defer="", src="/js/mock.js", type="module")

