extends layout/main-layout.pug

block content
  .results-container

block headerButton
  button#mark-notifications-as-read
    i.fas.fa-check-double

block scripts
  script(defer="", src="/js/notifications.js", type="module")


