:root {
  --red: rgb(220 34 94);
  --red-background: rgb(220 34 94 90%);
  --green: rgb(23 191 99);
  --greeun-background: rgba(23 191 99 90%);
  --blue: #1fa2f1;
  --blue-light: #9bd1f9;
  --blue-background: rgba(31 162 241 40%);
  --button-hover-bg: #d4edff;
  --light-grey: rgb(230 236 240);
  --spacing: 15px;
  --grey-text: rgb(101 119 134);
  --grey-btn-text: rgba(255 255 255 66%);
}

body {
  background-color: black;
  color: white;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* padding-bottom: 0; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

select,
input,
textarea {
  background-color: black !important;
  border: 1px solid #ced4da !important;
  color: white !important;
}

a {
  color: inherit;
}

nav a {
  display: flex;
  padding: 10px;
  font-size: 30px;
  width: 55px;
  height: 55px;
  align-items: center;
  justify-content: center;
  color: #dedad6;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 19px;
  /* font-weight: 800; */
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

nav a.blue {
  color: var(--blue);
}

nav a:hover {
  background-color: var(--button-hover-bg);
  color: var(--blue);
  border-radius: 50%;
}

button {
  background-color: transparent;
  border: none;
  color: var(--grey-btn-text);
}

/*
 * main layout
 */

.main-section-container {
  padding: 0;
  border-left: 1px solid var(--light-grey);
  border-right: 1px solid var(--light-grey);
  display: flex;
  flex-direction: column;
}

.title-container {
  height: 53px;
  padding: 0 var(--spacing);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--light-grey);
  flex-shrink: 0;
}

.title-container h1 {
  flex: 1;
}

/*
 * mocks
 */

.mock-header a,
.mock-header span {
  padding-right: 5px;
}

.reply-flag a {
  color: var(--blue);
}

.followers-container a {
  margin-right: 15px;
}

.dark-mode {
  background-color: black;
  color: white;
}

.mock-header {
  display: flex;
}

.mock-header .date {
  flex: 1;
}

.mock-form-container {
  display: flex;
  padding: var(--spacing);
  border-bottom: 10px solid var(--light-grey);
  flex-shrink: 0;
}

.textarea-container {
  flex: 1;
  padding-left: var(--spacing);
}

.textarea-container textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 19px;
}

#submit-mock-btn {
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 40%;
  padding: 7px 15px;
}

#submit-mock-btn:disabled {
  background-color: var(--blue-light);
}

.mock {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  cursor: pointer;
  border-bottom: 1px solid var(--light-grey);
  flex-shrink: 0;
}

.mock-footer {
  display: flex;
  align-items: center;
}

.mock.outstanding .mock-body,
.mock.outstanding .mock-footer {
  font-size: 23px;
}

.main-content-container {
  flex: 1;
  display: flex;
}

.mock-content-container {
  padding-left: var(--spacing);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.mock-footer .mock-btn-container {
  flex: 1;
  display: flex;
}

.mock-footer .mock-btn-container button {
  padding: 0 5px;
}

.mock-header a:hover {
  text-decoration: underline;
}

.mock-btn-container button:hover {
  background-color: #d4edff;
  color: var(--blue);
  border-radius: 50%;
}

.mock-btn-container.red button.active {
  color: var(--red);
}

.mock-btn-container.red button:hover {
  color: var(--red);
  background-color: var(--red-background);
}

.mock-btn-container.green button.active {
  color: var(--green);
}

.mock-btn-container.green button:hover {
  color: var(--green);
  background-color: var(--green-background);
}

.mock-action-container {
  padding-left: 35px;
  font-size: 13px;
  color: var(--grey-text);
  margin-bottom: 5px;
}

.modal .mock-form-container {
  border: none;
  padding: 0;
  padding-top: var(--spacing);
}

.modal .mock {
  padding: 0 0 var(--spacing) 0;
}

.reply-flag {
  font-size: 13px;
  margin-bottom: 5px;
}

/*
 * profile
 */

.profile-header-container .cover-photo-section {
  height: 180px;
  background-color: var(--blue);
  position: relative;
}

.profile-header-container .user-image-container {
  height: 132px;
  width: 132px;
  margin-left: var(--spacing);
  position: absolute;
  bottom: -66px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-header-container .user-image-container img {
  border: 4px solid #fff;
}

.profile-header-container .profile-buttons-container {
  text-align: right;
  padding: var(--spacing);
  min-height: 66px;
}

.profile-button {
  color: var(--blue);
  font-weight: bold;
  padding: 5px 15px;
  display: inline-block;
  margin-left: var(--spacing);
}

.profile-button:hover {
  color: var(--blue);
  background-color: var(--button-hover-bg);
  border-radius: 60px;
}

.profile-header-container .user-details-container {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing);
}

.followers-container .value {
  font-weight: bold;
  margin-right: 5px;
}

.followers-container span:not(.value) {
  color: var(--grey-text);
}

.followers-container a:hover {
  border-bottom: 1px solid #fff;
}

.user .user-details-container {
  flex: 1;
  padding: 0 var(--spacing);
}

.profile-picture-button,
.cover-photo-button {
  position: absolute;
  font-size: 30px;
  color: rgba(0 0 0 40%);
  display: none;
}

.user-image-container:hover .profile-picture-button,
.cover-photo-section:hover .cover-photo-button {
  display: block;
}

.cover-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/*
 * search
 */

.search-bar-container {
  position: relative;
  color: var(--grey-text);
  padding: 10px var(--spacing);
}

.search-bar-container .fa-search {
  position: absolute;
  top: 20px;
  left: 28px;
}

.search-bar-container #search-box {
  height: 36px;
  width: 100%;
  padding: 5px 15px 5px 40px;
  border-radius: 50px;
  background-color: var(--light-grey);
  border: none;
  color: var(--grey-text);
}

/*
 * common
 */

.wrapper > .row {
  margin: 0;
}

.username,
.date {
  color: var(--grey-text);
}

.user-image-container {
  width: 50px;
  height: 50px;
}

.user-image-container img {
  width: 100%;
  border-radius: 50%;
  background-color: white;
}

.display-name {
  font-weight: bold;
}

.error-message {
  padding: var(--spacing);
}

.modal-header .btn-close {
  color: white;
}

.follow-button {
  color: var(--blue);
  font-weight: bold;
  padding: 5px 15px;
  display: inline-block;
  margin-left: var(--spacing);
}

.follow-button:hover {
  color: #fff;
  background-color: var(--blue);
  border-radius: 60px;
}

.follow-button.following {
  background-color: var(--blue);
  color: #fff;
  border-radius: 60px;
}

.follow-button.following:hover {
  color: var(--blue);
  background-color: #000;
}

.tabs-container {
  display: flex;
  border-bottom: 1px solid var(--light-grey);
  flex-shrink: 0;
}

.tab {
  flex: 1;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grey-text);
  font-weight: bold;
}

.tab.active {
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
}

.tab:hover {
  color: var(--blue);
  background-color: var(--blue-background);
}

.results-container {
  display: flex;
  flex-direction: column;
}

.results-container .user {
  padding: var(--spacing);
  display: flex;
  border-bottom: 1px solid var(--light-grey);
}

#image-preview,
#cover-photo-preview {
  width: 100%;
  display: block;
  max-width: 100%;
}

.pin-button.active {
  color: var(--blue);
}

.pinned-mock-text {
  font-size: 12px;
  color: var(--grey-text);
}

.pinned-mock-container {
  border-bottom: 10px solid rgb(230 236 240);
}
