:root {
  --red: #dc225e;
  --red-background: rgba(220, 34, 94, 90%);
  --green: #17bf63;
  --greeun-background: rgba(23, 191, 99, 90%);
  --blue: #1fa2f1;
  --blue-light: #9bd1f9;
  --blue-background: rgba(31, 162, 241, 40%);
  --grey-light: #e6ecf0;
  --grey-dark: #4c4d50;
  --grey-border: #4c4d50;
  --grey-text: #8d9fae;
  --grey-button-text: rgba(255, 255, 255, 66%);
  --button-hover-bg: #d4edff;
  --spacing: 15px;
  --font-wt-light: 200;
  --font-wt-regular: 300;
  --font-wt-bold: 500;
}

html,
body {
  height: 100%;
  min-height: 100%;
  background-color: black;
  color: white;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: var(--font-wt-regular);
  /* padding-bottom: 0; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: var(--font-wt-bold);
}

select,
input,
textarea {
  background-color: black !important;
  border: 1px solid #ced4da !important;
  color: white !important;
}

* {
  outline: none;
}

a {
  color: inherit;
}

nav a {
  display: flex;
  padding: 10px;
  font-size: 30px;
  width: 55px;
  height: 55px;
  align-items: center;
  justify-content: center;
  color: #dedad6;
  position: relative;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 19px;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

nav a.blue {
  color: var(--blue);
}

nav a:hover {
  background-color: var(--button-hover-bg);
  color: var(--blue);
  border-radius: 50%;
}

button {
  background-color: transparent;
  border: none;
  color: var(--grey-buttton-text);
}

ul {
  margin: 0;
}

/*
 * main layout
 */

.main-section-container {
  padding: 0;
  border-left: 1px solid var(--grey-border);
  border-right: 1px solid var(--grey-border);
  display: flex;
  flex-direction: column;
}

.title-container {
  height: 53px;
  padding: 0 var(--spacing);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--grey-border);
  flex-shrink: 0;
}

.title-container h1 {
  flex: 1;
}

/*
 * mocks
 */

.mock-header a,
.mock-header span {
  padding-right: 5px;
}

.reply-flag a {
  color: var(--blue);
  font-weight: var(--font-wt-bold);
}

.followers-container a {
  margin-right: 15px;
}

.dark-mode {
  background-color: black;
  color: white;
}

.mock-header {
  display: flex;
}

.mock-header .date {
  flex: 1;
}

.mock-form-container {
  display: flex;
  padding: var(--spacing);
  border-bottom: 10px solid var(--grey-border);
  flex-shrink: 0;
}

.textarea-container {
  flex: 1;
  padding-left: var(--spacing);
}

.textarea-container textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 19px;
}

#submit-mock-button {
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 40%;
  padding: 7px 15px;
}

#submit-mock-button:disabled {
  background-color: var(--blue-light);
}

.mock {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  cursor: pointer;
  border-bottom: 1px solid var(--grey-border);
  flex-shrink: 0;
}

.mock-footer {
  display: flex;
  align-items: center;
}

.mock.outstanding .mock-body,
.mock.outstanding .mock-footer {
  font-size: 23px;
}

.main-content-container {
  flex: 1;
  display: flex;
  /* overflow-y: hidden; */
}

.mock-content-container {
  padding-left: var(--spacing);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.mock-footer .mock-button-container {
  flex: 1;
  display: flex;
}

.mock-footer .mock-button-container button {
  padding: 0 5px;
}

.mock-header a:hover {
  text-decoration: underline;
}

.mock-button-container button:hover {
  background-color: #d4edff;
  color: var(--blue);
  border-radius: 50%;
}

.mock-button-container.red button.active {
  color: var(--red);
}

.mock-button-container.red button:hover {
  color: var(--red);
  background-color: var(--red-background);
}

.mock-button-container.green button.active {
  color: var(--green);
}

.mock-button-container.green button:hover {
  color: var(--green);
  background-color: var(--green-background);
}

.mock-action-container {
  padding-left: 35px;
  font-size: 13px;
  color: var(--grey-text);
  margin-bottom: 5px;
}

.modal .mock-form-container {
  border: none;
  padding: 0;
  padding-top: var(--spacing);
}

.modal .mock {
  padding: 0 0 var(--spacing) 0;
}

.reply-flag {
  font-size: 13px;
  margin-bottom: 5px;
}

/*
 * profile
 */

.profile-header-container .cover-photo-section {
  height: 180px;
  background-color: var(--blue);
  position: relative;
}

.profile-header-container .user-image-container {
  height: 132px;
  width: 132px;
  margin-left: var(--spacing);
  position: absolute;
  bottom: -66px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-header-container .user-image-container img {
  border: 4px solid #fff;
}

.profile-header-container .profile-buttons-container {
  text-align: right;
  padding: var(--spacing);
  min-height: 66px;
}

.profile-button {
  color: var(--blue);
  font-weight: var(--font-wt-bold);
  padding: 5px 15px;
  display: inline-block;
  margin-left: var(--spacing);
}

.profile-button:hover {
  color: var(--blue);
  background-color: var(--button-hover-bg);
  border-radius: 60px;
}

.profile-header-container .user-details-container {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing);
}

.followers-container .value {
  font-weight: var(--font-wt-bold);
  margin-right: 5px;
}

.followers-container span:not(.value) {
  color: var(--grey-text);
}

.followers-container a:hover {
  border-bottom: 1px solid var(--grey-border);
}

.user .user-details-container {
  flex: 1;
  padding: 0 var(--spacing);
}

.profile-picture-button,
.cover-photo-button {
  position: absolute;
  font-size: 30px;
  color: rgba(0, 0, 0, 40%);
  display: none;
}

.user-image-container:hover .profile-picture-button,
.cover-photo-section:hover .cover-photo-button {
  display: block;
}

.cover-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/*
 * search
 */

.search-bar-container {
  position: relative;
  color: var(--grey-text);
  padding: 10px var(--spacing);
}

.search-bar-container .fa-search {
  position: absolute;
  top: 20px;
  left: 28px;
}

.search-bar-container #search-box {
  height: 36px;
  width: 100%;
  padding: 5px 15px 5px 40px;
  border-radius: 50px;
  background-color: var(--grey-light);
  border: none;
  color: var(--grey-text);
}

/*
 * messages
 */

.chat-page-container {
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex: 1;
  flex-basis: 0;
}

.chat-title-bar {
  border-bottom: 1px solid var(--grey-border);
  display: flex;
  align-items: center;
  min-height: 60px;
  padding: 10px;
}

.chat-title-bar label {
  margin: 0 10px 0 0;
}

#user-search-textbox {
  border: none;
  flex: 1;
  font-weight: var(--font-wt-light);
  min-width: 350px;
}

#create-chat-button {
  border: none;
  background-color: var(--blue);
  color: #fff;
  padding: 7px 20px;
  margin: 10px auto;
  border-radius: 40px;
}

#create-chat-button:disabled {
  background-color: var(--grey-light);
  color: var(--grey-text);
}

.selected-user {
  font-weight: var(--font-wt-regular);
  background-color: #cbe5fe;
  color: #0084ff;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 5px 0 0;
  display: inline-block;
}

.results-list-item {
  padding: 7px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid var(--grey-border);
}

.results-list-item:hover {
  background-color: var(--blue-background);
}

.results-details-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.results-details-container .heading {
  font-weight: var(--font-wt-bold);
}

.results-details-container .subtext {
  color: var(--grey-text);
  font-size: 14px;
}

.results-list-item img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.results-image-container {
  height: 40px;
  width: 40px;
  position: relative;
  margin-right: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.group-chat-image img {
  height: 65%;
  width: 65%;
  position: absolute;
  bottom: 0;
  margin: 0;
  border: 2px solid var(--grey-border);
}

.group-chat-image img:first-of-type {
  top: 0;
  right: 0;
}

.chat-titlebar-container {
  border-bottom: 1px solid var(--grey-border);
  display: flex;
  align-items: center;
  padding: var(--spacing);
}

#chat-name {
  width: 100%;
  border: 1px solid transparent;
  padding: 0 5px;
}

#chat-name:hover {
  border: 1px solid var(--grey-border);
  cursor: text;
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.chat-container .footer {
  display: flex;
  padding: var(--spacing);
  flex-shrink: 0;
}

.chat-container .footer textarea {
  flex: 1;
  resize: none;
  background-color: rgba(0, 0, 0, 95%);
  border-radius: 18px;
  border: none;
  padding: 8px 12px;
  height: 38px;
}

.chat-container .footer button {
  background-color: transparent;
  color: var(--blue);
  font-size: 24px;
}

.chat-messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: var(--spacing);
  height: 600px;
}

.chat-image-container {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  margin-right: 10px;
}

.chat-image-container img {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.chat-image-container img:not(:last-child) {
  margin-left: -10px;
}

.chat-image-container .user-count {
  width: 40px;
  height: 40px;
  background-color: #0e0e0e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: 2px solid #fff;
  margin-left: -10px;
}

#chat-name-textbox {
  width: 100%;
}

.chat-messages .message {
  padding-bottom: 2px;
  list-style: none;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}

.chat-messages .message .message-container {
  display: flex;
  flex-direction: column;
  max-width: 55%;
}

.chat-messages .message.mine .message-container {
  align-items: flex-end;
}

.chat-messages .message.theirs .message-container {
  align-items: flex-start;
}

.chat-messages .message .message-body {
  background-color: #233838;
  padding: 6px 12px;
  border-radius: 18px;
  font-size: 14px;
}

.typing-dots {
  padding: 0;
  display: none;
}

.typing-dots img {
  height: 35px;
  background-color: transparent;
  border-radius: 18px;
}

.chat-messages .message.mine {
  flex-direction: row-reverse;
}

.chat-messages .message.mine .message-body {
  background-color: var(--blue);
  color: #fff;
}

.chat-messages .message.mine.first .message-body {
  border-bottom-right-radius: 2px;
}

.chat-messages .message.mine:not(.first):not(.last) .message-body {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.chat-messages .message.mine.last .message-body {
  border-bottom-right-radius: 18px;
}

.chat-messages .message.mine.last:not(.first) .message-body {
  border-top-right-radius: 2px;
}

.chat-messages .message.theirs.first .message-body {
  border-bottom-left-radius: 2px;
}

.chat-messages .message.theirs:not(.first):not(.last) .message-body {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.chat-messages .message.theirs.last .message-body {
  border-bottom-left-radius: 18px;
}

.chat-messages .message.theirs.last:not(.first) .message-body {
  border-top-left-radius: 2px;
}

.sender-name {
  color: var(--grey-text);
  font-size: 12px;
}

.chat-messages .image-container {
  height: 24px;
  width: 24px;
  margin-right: 7px;
}

.chat-messages img {
  height: 100%;
  border-radius: 50%;
  vertical-align: bottom;
}

.chat-messages .message.last {
  margin-bottom: 5px;
}

.loading-spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25%;
}

.loading-spinner-container img {
  width: 50%;
  max-width: 75px;
}

/*
 * notifications
 */

.results-list-item.active {
  background-color: var(--blue-background);
}

#notification-list {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 350px;
  background-color: black;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 70%);
}

#notification-list .active {
  background-color: black;
}

/*
 * common
 */

.wraper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper > .row {
  margin: 0;
  height: 100%;
}

.username,
.date {
  color: var(--grey-text);
}

.user-image-container {
  width: 50px;
  height: 50px;
}

.user-image-container img {
  width: 100%;
  border-radius: 50%;
  background-color: white;
}

.display-name {
  font-weight: var(--font-wt-bold);
}

.error-message {
  padding: var(--spacing);
}

.modal-header .btn-close {
  color: white;
}

.follow-button {
  color: var(--blue);
  font-weight: var(--font-wt-bold);
  padding: 5px 15px;
  display: inline-block;
  margin-left: var(--spacing);
}

.follow-button:hover {
  color: #fff;
  background-color: var(--blue);
  border-radius: 60px;
}

.follow-button.following {
  background-color: var(--blue);
  color: #fff;
  border-radius: 60px;
}

.follow-button.following:hover {
  color: var(--blue);
  background-color: #000;
}

.tabs-container {
  display: flex;
  border-bottom: 1px solid var(--grey-border);
  flex-shrink: 0;
}

.tab {
  flex: 1;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grey-text);
  font-weight: var(--font-wt-bold);
}

.tab.active {
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
}

.tab:hover {
  color: var(--blue);
  background-color: var(--blue-background);
}

.results-container {
  display: flex;
  flex-direction: column;
}

.results-container .user {
  padding: var(--spacing);
  display: flex;
  border-bottom: 1px solid var(--grey-border);
}

#image-preview,
#cover-photo-preview {
  width: 100%;
  display: block;
  max-width: 100%;
}

.pin-button.active {
  color: var(--blue);
}

.pinned-mock-text {
  font-size: 12px;
  color: var(--grey-text);
}

.pinned-mock-container {
  border-bottom: 10px solid var(--grey-border);
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#notifications-badge,
#messages-badge {
  background-color: var(--red);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

#notifications-badge.active,
#messages-badge.active {
  visibility: visible;
}
