:root {
  --red: rgb(220, 34, 94);
  --redBackground: rgb(220, 34, 94. 0.9);
  --green: rgb(23, 191, 99);
  --greeunBackground: rgba(23, 191, 99, 0.9);
  --blue: #1FA2F1;
  --blueLight: #9bd1f9;
  --buttonHoverBg: #d4edff;
  --lightGrey: rgb(230, 236, 240);
  --spacing: 15px;
  --greyText: rgb(101, 119, 134);
  --greyBtnText:rgba(255, 255, 255, 0.66);
}

body {
  background-color: black;
  color: white;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* padding-bottom: 0; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

select,input,textarea {
  background-color: black !important;
  border: 1px solid #ced4da !important;
  color: white !important;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 19px;
  /* font-weight: 800; */
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

nav a {
  display: flex;
  padding: 10px;
  font-size: 30px;
  width: 55px;
  height: 55px;
  align-items: center;
  justify-content: center;
  color: #DEDAD6;
}

nav a.blue {
  color: var(--blue);
}

nav a:hover {
  background-color: var(--buttonHoverBg);
  color: var(--blue);
  border-radius: 50%;
}

button {
  background-color: transparent;
  border: none;
  color: var(--greyBtnText);
}

.dark-mode {
  background-color: black;
  color: white;
}

.mainSectionContainer {
  padding: 0;
  border-left: 1px solid var(--lightGrey);
  border-right: 1px solid var(--lightGrey);
  display: flex;
  flex-direction: column;
}

.titleContainer {
  height: 53px;
  padding: 0 var(--spacing);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--lightGrey);
  flex-shrink: 0;
}

.titleContainer h1 {
  flex: 1;
}

.mockFormContainer {
  display: flex;
  padding: var(--spacing);
  border-bottom: 10px solid var(--lightGrey);
  flex-shrink: 0;
}

.userImageContainer {
  width: 50px;
  height: 50px;
}

.userImageContainer img {
  width: 100%;
  border-radius: 50%;
  background-color: white;
}

.textareaContainer {
  flex:1;
  padding-left: var(--spacing);
}

.textareaContainer textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 19px;
}

#submitMockBtn {
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 40%;
  padding: 7px 15px;
}

#submitMockBtn:disabled {
  background-color: var(--blueLight);
}

.mock {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  cursor: pointer;
  border-bottom: 1px solid var(--lightGrey);
  flex-shrink: 0;
}

.mock.outstanding .mockBody,
.mock.outstanding .mockFooter {
  font-size: 23px;
}

.mainContentContainer {
  flex: 1;
  display: flex;
}

.mockContentContainer {
  padding-left: var(--spacing);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.username,
.date {
  color: var(--greyText);
}

.displayName {
  font-weight: bold;
}

.mockFooter {
  display: flex;
  align-items: center;
}

.mockFooter .mockBtnContainer {
  flex: 1;
  display: flex;
}

.mockFooter .mockBtnContainer button {
  padding: 0 5px;
}

.mockHeader a:hover {
  text-declaration: underline;
}

.mockHeader a,
.mockHeader span{
  padding-right: 5px;
}

.mockBtnContainer button:hover {
  background-color: #d4edff;
  color: var(--blue);
  border-radius: 50%;
}

.mockBtnContainer.red button.active {
  color: var(--red);
}

.mockBtnContainer.red button:hover {
  color: var(--red);
  color-background: var(--redBackground);
}

.mockBtnContainer.green button.active {
  color: var(--green);
}

.mockBtnContainer.green button:hover {
  color: var(--green);
  color-background: var(--greenBackground);
}

.mockActionContainer {
  padding-left: 35px;
  font-size: 13px;
  color: var(--greyText);
  margin-bottom: 5px;
}

.modal-header .btn-close {
  color: white;
}

.modal .mockFormContainer {
  border: none;
  padding: 0;
  padding-top: var(--spacing);
}

.modal .mock {
  padding: 0 0 var(--spacing) 0;
}

.replyFlag {
  font-size: 13px;
  margin-bottom:
}

.replyFlag a {
  color: var(--blue);
}
